/*css til newfashioned*/
html {
    /*    Nulstiller fontsize, så den er 10px */
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background-color-header-footer: #fff8f2;

    --border-styling: 2px solid black;
    --border-radius: 25px;
    --sub-headline-color: black;
    --p-color: black;
    --menu-color: black;
}

.landing-page-width {
    max-width: 90vw;
    margin: 0 auto 15vw auto;
}

img {
    /*    display: flex;*/
    max-width: 100%;
    object-fit: contain;

    border-radius: 25px;
}


/* Font styling */
h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--sub-headline-color);

    /*    Måske skal margin flyttes */
    padding: 4vw 0;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sub-headline-color);
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: var(--p-color);
}


/* Header, Splash, logo og overskrift, menu */
header {
    background-color: var(--background-color-header-footer);
    height: 100vh;
}

#splash {
    background-image: url(imgs/splash/splash_medium.jpg);
    object-fit: cover;
    /*    object-fit: contain;*/
    width: 100vw;
    height: 85vh;
    max-height: 1280px;
    /*    object-position: center;*/
    background-position: 0% 0%;
    /*    position: relative;*/
}


h1 {
    font-size: 12vw;
    text-align: center;
}


#headline-new {
    font-family: 'Abril Fatface', cursive;
}

#headline-fashioned {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: block;


    /*    padding: 30% 0 0 0;*/

    /*
    position: absolute;
    bottom: -10px;
    left: 30vw;
*/
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-decoration: none;
    color: inherit;

    padding: 25px;
}

nav a:hover {
    text-decoration: underline;
}


/* Styling af om os sektion */

/*grid til om os section fungerer kun optimalt på bredder mindre end 2600ish pixel*/
#omos {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;

}

#omos,
#bookbord {
    /*    Border-styling styres i root (øverst) */
    border: var(--border-styling);
    border-radius: var(--border-radius);

    /*    border-radius: 25px;*/
    /*    border: 2px solid black;*/

    margin: 10vw auto;
    padding: 50px;
}

#omos p {
    padding: 0 0 50px 0;

}


/* Knap styling*/
/* Class til filterknap, der er klikket på */
#menu {
    display: flex;
    justify-content: center;
}


.filter {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 4rem;

    padding: 25px;

    /*    Fjerne knapstyling, så det ikke længere ligner en knap */
    border: 0;
    background-color: inherit;
}

.filter:hover {
    text-decoration: underline;
}

.buttonClicked {
    /*    text-decoration: underline;*/
    /*    font-weight: 600;*/
}








/* Styling af drinksmenu */
#listSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    align-items: center;
    max-width: 1700px;
    grid-gap: 20px;
}

#listContainer {
    display: grid;
    justify-content: center;

    /*    Skal måske fjernes, men bruges til styling */
    /*    Border-styling styres i root (øverst) */
    /*
    border: var(--border-styling);
    border-radius: var(--border-radius);
*/
    /*
    border-radius: 25px;
    border: 2px solid black;
*/

    margin: 25px auto;
}

#container {
    padding: 50px;
}



/* Styling af popup-vindue */
#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
}


#popup article {
    width: 80vw;
    height: 80vh;

    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#popup article img {
    max-width: 40%;
    margin-left: 12rem;
    object-fit: cover;
}

#detaljeTekst {
    padding-top: 5%;
    margin-left: 60px;
    margin-right: 60px;
}


#luk {
    position: fixed;
    right: 0.2rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
}










/* Footer styling */
footer {
    width: 100vw;
    padding: 40px 0;
    background-color: var(--background-color-header-footer);
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 70vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0 40px;
}

.footer-headline {
    padding: 0 0 10px 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sub-headline-color);
}

/*media for ipad og disse størrelser*/
@media screen and (min-width: 992px) {


    #flex {
        display: flex;
        flex-direction: row;

    }

    #popup article img {
        max-width: 50%;
        justify-content: center;
        object-fit: cover;

    }

    #detaljeTekst {
        padding-top: 5%;
        flex-grow: 2;
        justify-content: center
    }

    #luk {
        position: fixed;
        right: 5.2rem;
        top: 5.2rem;
        background-color: white;
        color: black;
        padding: 10px 20px;
    }


}
/*@media til om os section*/
@media (min-width: 1300px) {
    #omos {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}
@media (min-width: 1800px) {
    #omos {
        grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    }
}
